<%- model_class = Eventagg -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:site_type) %></th>
      <th><%= model_class.human_attribute_name(:domain) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @eventaggs.each do |eventagg| %>
      <tr>
        <td><%= link_to eventagg.name, eventagg_path(eventagg) %></td>
        <td><%= eventagg.site_type %></td>
        <td><%= eventagg.domain %></td>
        <td><%=l eventagg.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_eventagg_path,
            :class => 'btn btn-primary' %>
