<%- model_class = Statistic -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:num_sent) %></th>
      <th><%= model_class.human_attribute_name(:total_events) %></th>
      <th><%= model_class.human_attribute_name(:num_addresses) %></th>
      <th><%= model_class.human_attribute_name(:num_pdate) %></th>
      <th><%= model_class.human_attribute_name(:num_ptime) %></th>
      <th><%= model_class.human_attribute_name(:num_price) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @statistics.each do |statistic| %>
      <tr>
        <td><%= link_to statistic.id, statistic_path(statistic) %></td>
        <td><%= statistic.num_sent %></td>
        <td><%= statistic.total_events %></td>
        <td>
          <%= statistic.num_addresses %>
          <% statistic.getPrecision('address').each do |prec| %>
            <br />------<br />
            <%= "Num Samples: #{prec['numSamples']}, Right: #{prec['numCorrect']}, Wrong: #{prec['numWrong']}, Percentage: #{prec['percWrong']*100}%" %>
          <% end %>
        </td>
        <td>
          <%= statistic.num_pdate %>
          <% statistic.getPrecision('pdate').each do |prec| %>
            <br />------<br />
            <%= "Num Samples: #{prec['numSamples']}, Right: #{prec['numCorrect']}, Wrong: #{prec['numWrong']}, Percentage: #{prec['percWrong']*100}%" %>
          <% end %>
        </td>
        <td>
          <%= statistic.num_ptime %>
          <% statistic.getPrecision('ptime').each do |prec| %>
            <br />------<br />
            <%= "Num Samples: #{prec['numSamples']}, Right: #{prec['numCorrect']}, Wrong: #{prec['numWrong']}, Percentage: #{prec['percWrong']*100}%" %>
          <% end %>
        </td>
        <td>
          <%= statistic.num_price %>
          <% statistic.getPrecision('price').each do |prec| %>
            <br />------<br />
            <%= "Num Samples: #{prec['numSamples']}, Right: #{prec['numCorrect']}, Wrong: #{prec['numWrong']}, Percentage: #{prec['percWrong']*100}%" %>
          <% end %>
        </td>
        <td><%= statistic.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_statistic_path(statistic), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      statistic_path(statistic),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_statistic_path,
            :class => 'btn btn-primary' %>
